body{
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 16px;
}

.header {
    font-size: 17px;
    text-align: center;
    background-color: rgb(105, 139, 169);
    padding-top: 15px;
}

.header > h1 {
    font-family: 'Martel', serif;
    font-size: 30px;
    margin: 0;
}

nav {
    background-color: #f0ffff;
}

.links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #C0FEFE;
}